<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Y_craw_monster1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y_craw_monster2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y_craw_monster3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,101},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y_craw_monster4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,151},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y_craw_monster5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,201},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y_craw_monster6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,251},{50,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y_craw_monster_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1,299},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yellowCraw.png</string>
            <key>size</key>
            <string>{52,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b799c71f116d0dbfd0e3cccfb683b5c1:25dd586bedfefda2755f5017df437e5e:aad2a7324cf81ce76f26afb9075f0ab3$</string>
            <key>textureFileName</key>
            <string>yellowCraw.png</string>
        </dict>
    </dict>
</plist>
